@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #110b35;
  font-family: "Poppins", "Comfortaa", sans-serif, cursive;
}
.logo {
  font-family: "Comfortaa";
  font-size: 42px;
  font-weight: 700;
  color: #38ef7d;
}
.tag-line {
  font-family: "Comfortaa";
  font-size: 12px;
  font-weight: 400;
  color: #0cebeb;
}
.nav-link {
  text-decoration: "none";
  color: #29ffc6;
}
.nav-link:hover {
  color: #0cebeb;
}
.main {
  max-width: 100%;
  min-height: 649px;
  max-height: 100vh;
  background-image: linear-gradient(45deg, #11998e, #38ef7d);
}
