@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #110b35;
  font-family: "Poppins", "Comfortaa", sans-serif, cursive;
  margin-left: 5%;
}
.header {
  margin-right: 15%;
}
.navbar-toggler {
  color: #38ef7d;
}

.logo {
  font-family: "Comfortaa";
  font-size: 42px;
  font-weight: 700;
  color: #38ef7d;
}
.tag-line {
  font-family: "Comfortaa";
  font-size: 12px;
  font-weight: 400;
  color: #0cebeb;
}
.nav-link {
  text-decoration: "none";
  font-size: 16px;
  color: #29ffc6 !important;
}
.nav-link:hover {
  color: #0cebeb !important;
}

.main {
  margin-right: 15%;
  max-width: 100%;
  min-height: 649px;
  background: linear-gradient(132.12deg, #127073 0%, #2caa67 97.56%);
  border-radius: 50px 10px;
  margin-left: 125px;
}
.left-section-title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 72px;
  color: #ffffff;
}
.left-section-text {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  word-break: break-all;
}
.bottom-box {
  max-width: 100%;
  min-height: 67px;
  background: #17404b;
  border-radius: 50px 10px;
}
.btn {
  background-color: #1b6d6f;
  border-radius: 50px 10px;
}

.image-1 {
  position: relative;
  margin-left: 35%;
  margin-top: 5%;
  height: 50%;
  width: 35%;
  border-radius: 50px 10px;
}
.image-2 {
  position: relative;
  margin-left: 10%;
  margin-top: -25%;
  height: 50%;
  width: 35%;
  border-radius: 50px 10px;
}
.image-3 {
  position: relative;
  margin-left: 25%;
  margin-top: -30%;
  height: 50%;
  width: 35%;
  border-radius: 50px 10px;
}
.image-4 {
  position: relative;
  margin-left: 50%;
  margin-top: -70%;
  height: 50%;
  width: 35%;
  border-radius: 50px 10px;
}
.footer {
  margin-right: 3%;
}
.address-line {
  color: #6ca999;
  opacity: 50%;
}
.footer-ul {
  list-style-type: none;
}
.footer-anchor {
  text-decoration: none;
  font-size: 14px;
  color: #29ffc6;
}
#btn-footer {
  background-color: #2af7b8;
  color: #17404b;
}

@media screen and (min-width: 1301px) and (max-width: 1359px) {
  .bottom-box {
    padding: 25px;
  }
  .image-1 {
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-2 {
    position: relative;
    margin-left: 0%;
    margin-top: -25%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-3 {
    position: relative;
    margin-left: -25%;
    margin-top: -10%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-4 {
    position: relative;
    margin-left: 40%;
    margin-top: -100%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
}
@media screen and (min-width: 1176px) and (max-width: 1300px) {
  .bottom-box {
    padding: 25px;
  }
  .image-1 {
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-2 {
    position: relative;
    margin-left: 0%;
    margin-top: -25%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-3 {
    position: relative;
    margin-left: -25%;
    margin-top: -10%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-4 {
    position: relative;
    margin-left: 40%;
    margin-top: -125%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1175px) {
  .bottom-box {
    padding: 25px;
  }
  .image-1 {
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-2 {
    position: relative;
    margin-left: 0%;
    margin-top: -50%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-3 {
    position: relative;
    margin-left: -25%;
    margin-top: -10%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-4 {
    position: relative;
    margin-left: 40%;
    margin-top: -150%;
    height: 35%;
    width: 50%;
    border-radius: 50px 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .section-right {
    padding: 50px;
  }
  .image-1 {
    position: relative;
    margin-left: 15%;
    margin-top: 5%;
    height: 50%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-2 {
    position: relative;
    margin-left: 0;
    margin-top: -10%;
    height: 50%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-3 {
    position: relative;
    margin-right: -5%;
    margin-top: -30%;
    height: 50%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .image-4 {
    position: relative;
    margin-left: 40%;
    margin-top: -90%;
    height: 50%;
    width: 50%;
    border-radius: 50px 10px;
  }
  .bottm-line {
    padding: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .bottom-box {
    padding: 25px;
  }
  .btn {
    margin-top: 15px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .image-1 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 50%;
    height: 50%;
    border-radius: 50px 50px;
  }
  .image-2 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 50%;
    height: 50%;
    border-radius: 50px 50px;
  }
  .image-3 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 50%;
    height: 50%;
    border-radius: 50px 50px;
  }
  .image-4 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 50%;
    height: 50%;
    border-radius: 50px 50px;
  }
  .main {
    margin-right: 0;
    max-width: 100%;
    margin-left: 0px;
  }
  body {
    margin-left: 0;
  }
  .bottom-box {
    margin-bottom: 25px;
    padding: 25px;
  }
  .btn {
    margin-top: 15px;
  }
  .bottm-line {
    padding: 25px;
    margin: 0 !important;
  }
  .footer {
    margin-left: 5%;
  }
}

@media screen and (max-width: 575px) {
  .header {
    margin-right: 0;
  }
  .left-section {
    padding: 15px !important;
  }
  .left-section-title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff;
  }
  .image-1 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 50%;
    height: 50%;
    border-radius: 50px 50px;
  }
  .image-2 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 50%;
    height: 50%;
    border-radius: 50px 50px;
  }
  .image-3 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 50%;
    height: 50%;
    border-radius: 50px 50px;
  }
  .image-4 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 50%;
    height: 50%;
    border-radius: 50px 50px;
  }
  .main {
    margin-right: 0;
    max-width: 100%;
    margin-left: 0px;
  }
  body {
    margin-left: 0;
  }
  .bottom-box {
    padding: 25px;
  }
  .btn {
    margin-top: 15px;
  }
  .bottm-line {
    padding: 25px;
    margin: 0 !important;
  }
  .footer {
    margin-left: 5%;
  }
}
