@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #110b35;
  font-family: "Poppins", "Comfortaa", sans-serif, cursive;
}
.navbar-toggler {
  color: #38ef7d;
}
.logo {
  font-family: "Comfortaa";
  font-size: 42px;
  font-weight: 700;
  color: #38ef7d;
}
.tag-line {
  font-family: "Comfortaa";
  font-size: 12px;
  font-weight: 400;
  color: #0cebeb;
}
.nav-link {
  text-decoration: "none";
  font-size: 16px;
  color: #29ffc6;
}
.nav-link:hover {
  color: #0cebeb;
}
.main {
  max-width: 100%;
  min-height: 649px;
  max-height: "100vh";
  background: linear-gradient(132.12deg, #127073 0%, #2caa67 97.56%);
  border-radius: 50px 10px;
  margin-left: 125px;
}
.left-section-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}
.left-section-text {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.bottom-box {
  max-width: 100%;
  min-height: 67px;
  max-height: "100vh";
  background: #17404b;
  border-radius: 50px 10px;
}
.btn {
  background-color: #1b6d6f;
  border-radius: 50px 0px;
}

.image-1 {
  position: relative;
  margin-left: 35%;
  margin-top: 5%;
  height: 50%;
  width: 35%;
  border-radius: 50px 10px;
}
.image-2 {
  position: relative;
  margin-left: 10%;
  margin-top: -25%;
  height: 50%;
  width: 35%;
  border-radius: 50px 10px;
}
.image-3 {
  position: relative;
  margin-left: 25%;
  margin-top: -30%;
  height: 50%;
  width: 35%;
  border-radius: 50px 10px;
}
.image-4 {
  position: relative;
  margin-left: 50%;
  margin-top: -70%;
  height: 50%;
  width: 35%;
  border-radius: 50px 10px;
}
